<%= render 'current_and_history_offers_links' %>
<div class="row admin-search-offers">
  <% @admin_offers.each do |offer| %>
      <%= form_tag seller_search_path do %>
          <table class="table table-striped allAdminOffers">
            <% if @admin_offers.first.id == offer.id %>
                <thead>
                <th style='width:30%;'>Buyer Offer</th>
                <th style='width:10%;' class="text-right-align">Offer Price</th>
                <th style='width:20%;'>Buyer User Name</th>
                <th style='width:10%;'>Categories</th>
                <th style='width:10%;' class="text-right-align">Miles</th>
                <th style='width:10%;' class="text-right-align">Zip Code</th>
                <th style='width:10%;'>&nbsp;</th>
                </thead>
            <% end %>
            <tbody>
            <tr>
              <td style='width:30%;'>
                <%= hidden_field_tag 'offer_id', offer.id %>
                <%= text_field 'offer', 'text', :value => offer.text, :id => "offer_#{offer.id}", :class => 'offerText', :style => 'width:192px;' %>
                <%= render '/admins/utils/popover/offer', :offer => offer %>
                <div class="adminOfferTextError">Please enter Offer Text and Submit</div>
              </td>
              <td style='width:10%;' class="text-right-align"><%= offer.price %></td>
              <td style='width:20%;'>
                <%= mail_to offer.user.email, offer.user.username,
                            :subject => "Regarding your recent offer for '#{offer.text}' with #{configatron.site_name}" if offer.user.present? %>
              </td>
              <td style='width:10%;'>
                <%= link_to "Categories", "#offer_fancybox_#{offer.id}", :class => "ib-fancybox" %>
                <div style='display: none;'>
                  <div id="<%= "offer_fancybox_#{offer.id}" %>">
                    <%= @category_html ||= render('admin_category_list') %>
                  </div>
                </div>
              </td>
              <td style='width:10%;' class="text-right-align">
                <%= text_field_tag 'search_radius', offer.search_radius, :style => 'width:80px;text-align:right' %>
              </td>
              <td style='width:10%;' class="text-right-align">
                <%= text_field_tag 'zip', offer.zip, :style => 'width:80px;text-align:right' %>
              </td>
              <td style='width:10%;'><%= submit_tag 'Submit', :class => "btn jqueryAdminSearch", :style => 'margin-bottom: 10px;' %>
            </tr>
            </tbody>
          </table>
      <% end %>
  <% end %>
</div><!--<td> -->
<%#= select_tag 'category_ids', options_for_select(@result), :multiple => true, :style => "height:75px;", :class => 'selectAdminCategories' %>
<!--</td> --><!--<td><%#= text_field_tag 'keyword' %></td> -->

