<div id="ib-content-wrapper">
  <div class="ib-content">
    <div id="ib-seller-wrapper">
      <div class="box effect8">
        <div class="ib-content-title">Infinite Buyer Welcomes Friends of Skip McGrath!</div>
        <div class="ib-policy">
          <p>Skip is one of the first people we told about Infinite Buyer, and because he understands that it can be a great benefit for online sellers to sell more effectively, he has agreed to help us promote our website.  If you want to find out more about Infinite Buyer, click on <a href="<%= company_info_url %>">Company Info</a>, or <a href="<%= how_it_works_seller_url %>">How It Works</a>.</p>
          <h1>To sell your merchandise using Infinite Buyer, you need to register as a Seller by following the simple steps below.</h1>
          <ol>
            <li><a href="<%= seller_users_url %>">Click here to register</a> with your Facebook or Twitter account, or with your own email address</li>
            <li>After you register, click on <a href="<%= my_account_url %>">My Account</a> (link in the upper right corner of the page) to enter your personal account information, then click Update. </li>
            <li>Select your categories by clicking on the blue button called <a href="<%= category_list_url %>"><span class="p_dark">Edit Categories</span></a> at the bottom of this registration page. This is where you tell the system the types of products you sell, so we can match you to buyers looking for those same products. The more categories you select, the more notifications you will receive. Be sure to press the 'Submit' button when done.</li>
          </ol>
          <p>That’s it!</p>
          <p>After those steps you will begin to receive email notifications from Infinite Buyer when a buyer is looking for the items you sell. These Buyer Offers will have a price and description of the item that you can then take one of three actions with:</p>
          <ol>
            <li><span class="p_dark">Accept:</span> Accept simply means you are willing to sell your product or service at the buyer's requested price and terms. This response has the highest chance of being selected by the buyer for transaction.</li>
            <li><span class="p_dark">Counter:</span> Counter means you want to change any combination of the price, description, service details, timing, or shipping details. You can only counter offer one time per buyer offer.</li>
            <li><span class="p_dark">Decline:</span> Decline simply means you do not want to participate in the buyer offer at all.</li>
          </ol>
          <p>If you have any questions of any kind, please do not hesitate to contact us immediately, we are here to help you register and sell successfully. </p>
          <div class="continue" style="">
            <a href="<%= seller_users_url(:affid => 141766) %>"><input type="image" src="/assets/continue-btn.png" /></a>
          </div>
          <div class="divider"> </div>
          <p>Click on <a href="https://infinitebuyer.uservoice.com">Support</a></p>
          <p>Email: <a href="mailto:support@InfiniteBuyer.com">support@InfiniteBuyer.com</a></p>
          <p>Phone: (720) 263-2289</p>
           </div>
      </div>
    </div>
  </div>
</div>
<!-- Contents Ends Here -->