<footer>
  <div id="ib-footer-wrapper">
    <div class="ib-footer-content">
      <ul class="ib-footer-menu">
        <li><strong>About Infinite Buyer: </strong><a href="<%= company_info_url %>">Company Info</a> | <a href="<%= news_url %>">News</a> | <%= link_to 'Privacy Policy', privacy_policy_url %> | <%= link_to 'Terms of Use', terms_of_use_url %> | <a href="https://infinitebuyer.uservoice.com" target="_blank">Contact Us</a> | <a href="https://infinitebuyer.uservoice.com" target="_blank">Support</a></li>
        <li><strong>Buyers :</strong><a href="<%= buyer_users_url %>">Registration</a> | <%= link_to 'How it Works', how_it_works_buyer_url %></li>
        <li><strong>Sellers :</strong><a href="<%= seller_users_url %>">Registration</a> | <%= link_to 'How it Works', how_it_works_seller_url %></li>
        <li><strong>Community :</strong><a href="https://infinitebuyer.uservoice.com" target="_blank">BuyerTalk</a> | <%= link_to 'FAQ', faqs_url %>
          | <%= link_to 'Blog', get_blog_url %>
        </li>
      </ul>
    </div>
  </div>
  <div class="ib-copyright">Copyright &copy; 2012, Infinite Buyer Inc. All Rights Reserved</div>
</footer>
<!--<div class="container">
    <div class="row04">
        <div>
           <footer>
               <div id="ib-footer-wrapper">
                  Footer goes here...
               </div>
           </footer>
        </div>
    </div>
</div>-->